<%- include('ek/header', {bot, user, path}) %>
<div class="alert alert-danger" role="alert">
  Kodları başka yerden paylaşmak kesinlikle yasaktır.
</div>

<div class="duyur-bana">
<h4>Hakkımızda</h4>
<p>Kod paylaşım sitesi discord.js - discord.js-commando kodlarını paylaşma amacı ile açılmıştır.

  </p></div>     
    
<div class="row">
  <div class="col-sm-6" style="margin-bottom:6px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Discord.js</h5>
        <p class="card-text">Discord.js kodları ile botunuzu geliştire bilirsiniz.</p>
        <a href="/kodlar" class="btn btn-dark">Kodlar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Discord.js-commando</h5>
        <p class="card-text">Discord.js kodları ile botunuzu geliştire bilirsiniz.</p>
        <a href="/kodlar" class="btn btn-dark">Kodlar</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kod İste</h5>
        <p class="card-text">Aradınız kodu bulamadınızmı o zaman isteyin</p>
        <a href="/kodiste" class="btn btn-dark">Tıklayın</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tasarım</h5>
        <p class="card-text">Tasarım bootstrap ile yapılmıştır.</p>
      </div>
    </div>
  </div>
</div>
<br>


<% include ./ek/footer %>